<!-- The Modal -->
<div class="modal" id="modal-consultar-endereco">
    <div class="modal-dialog modal-posicao-ajuste">
        <div class="modal-content modal-tamanho-ajuste">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Endereço</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Cep</th>
                            <th scope="col">Logradouro</th>
                            <th scope="col">Numero</th>
                            <th scope="col">Complemento</th>
                            <th scope="col">Apto/Condominio</th>
                            <th scope="col">Bairro</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Estado</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="render-lista-endereco">
                    </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light-custom" data-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>