<!-- The Modal -->
<div class="modal" id="modal-atualizar">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Atualizar Produto</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="h4">Sub Categoria</label>
                        <span id="span-sub-categoria-tipo"></span>
                    </div>
                    <div class="form-group">
                        <label class="h4">Produto</label>
                        <span id="span-produto-nome-atualizar"></span>
                    </div>

                    <div class="form-group">
                        <label class="h4">Codigo Produto</label>
                        <span id="span-produto-codigo"></span>
                    </div>

                    <div class="form-group">
                        <label class="h4">Valor venda</label>
                        <span id="span-valor-venda-atualizar"></span>
                    </div>

                </div>
                <span id="span-identificador-unico"></span>
                <span id="span-identificador-unico-sub-categoria"></span>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-custom" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success" id="btn-atualizar">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>