<!-- The Modal -->
<div class="modal" id="modal-atualizar-estoque">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Atualizar Estoque do Produto</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="h6">Produto</label>
                        <span id="span-produto-nome-atualiza-estoque"></span>
                    </div>

                    <div class="form-group">
                        <label>Quantidade</label>
                        <span id="span-valida-quantidade"></span>
                        <input type="text" class="form-control" id="quantidade-atualiza" placeholder="Digite a quantidade do produto">
                    </div>

                    <div class="form-group">
                        <label>Valor de compra unitario</label>
                        <span id="span-valida-valor-compra-unitario"></span>
                        <input type="text" class="form-control" id="valor-compra-unitario-atualiza" placeholder="Digite o valor da compra unitario">
                    </div>

                    <div class="form-group">
                        <label>Nome de compra total</label>
                        <span id="span-valida-valor-compra-total"></span>
                        <input type="text" class="form-control" id="valor-compra-total-atualiza" placeholder="Digite o valor da compra total">
                    </div>

                    <div class="form-group">
                        <label>Data de validade</label>
                        <span id="span-valida-data-validade"></span>
                        <input type="date" class="form-control" id="data-validade-atualiza">
                    </div>

                </div>
                <span id="span-estoque-identificador-unico"></span>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-custom" id="btn-close" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success" id="btn-cadastrar-estoque">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>