<!-- The Modal -->
<div class="modal" id="modal-atualizar-estoque">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Atualizar Estoque do Produto</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="h6">Produto</label>
                        <div id="estoque-produto-nome-modal"></div>
                    </div>

                    <div class="form-group">
                        <label>Quantidade</label>
                        <span id="span-valida-quantidade-modal"></span>
                        <input type="text" class="form-control" id="estoque-quantidade-modal" placeholder="Digite a quantidade do produto">
                    </div>

                    <div class="form-group">
                        <label>Valor de compra unitario</label>
                        <span id="span-valida-valor-compra-unitario-modal"></span>
                        <input type="text" class="form-control" id="estoque-valor-compra-unitario-modal" placeholder="Digite o valor da compra unitario">
                    </div>

                    <div class="form-group">
                        <label>Nome de compra total</label>
                        <span id="span-valida-valor-compra-total-modal"></span>
                        <input type="text" class="form-control" id="estoque-valor-compra-total-modal" placeholder="Digite o valor da compra total">
                    </div>

                    <div class="form-group">
                        <label>Data de validade</label>
                        <span id="span-valida-data-validade-modal"></span>
                        <input type="date" class="form-control" id="estoque-data-validade-modal">
                    </div>

                </div>
                <div id="estoque-identificador-unico-modal"></div>
                                
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-custom" id="btn-close" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success" onclick="produto.estoque.atualizar(this);">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>