@model List<Categoria>

<form>
    @if (Model.Count > 0)
    {
        <label>Categorias cadastradas</label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Model)
                {
                    <tr>
                        <td class="tipo">@categoria.Tipo</td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-danger" onclick="categoria.deletar(this);">Deletar</button></td>
                        <input type="hidden" class="identificador-unico" value="@categoria.IdentificadorUnico" />
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="form-group">
        <label>Digite uma nova Categoria</label>
        <span id="span-valida-tipo"></span>
        <input type="text" class="form-control" id="tipo" placeholder="Digite a nova categoria">
    </div>

    <button type="button" class="btn btn-success" onclick="categoria.cadastrar(this);">Cadastrar</button>
</form>

@section Scripts {
    <script type="text/javascript" src="~/js/categoria/Categoria.js"></script>
    <script type="text/javascript" src="~/js/Helper.js"></script>
    <script type="text/javascript">
        let categoria = new Categoria();
    </script> 
}
