@model Categoria

<form method="post">
    @if (ViewBag.categorias.Count > 0)
    {
        <label>Categorias cadastradas</label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <tr>
                        <td class="tipo">@categoria.Tipo</td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-danger btn-deletar">Deletar</button></td>
                        <input type="hidden" class="identificador-unico" value="@categoria.IdentificadorUnico" />
                    </tr>
                }
            </tbody>
        </table>
    }

<div class="form-group">
    <div>   
        <label>Cadastrar nova categoria</label>
    @{
        var mensagem = ViewData["mensagemErro"] as string;
        if (!string.IsNullOrEmpty(mensagem))
        {
            <div class="alert alert-danger" role="alert">
                @mensagem
            </div>
        }
    }   
    </div>
    <div>
        <span asp-validation-for="@Model.Tipo" class="text-danger"></span>
    </div>
    <input type="text" class="form-control" id="tipo" name="tipo">
</div>
    <button type="submit" class="btn btn-success" >Cadastrar</button>
</form>


@section Scripts {
    <script type="text/javascript" src="~/js/categoria/categoria.js"></script>
    <script type="text/javascript" src="~/js/comumHelper.js"></script>
}
